<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Aplicația folosește camera pentru a transmite video în rețeaua locală.</string>
	
	<key>NSLocalNetworkUsageDescription</key>
	<string>Aplicația are nevoie de acces la rețeaua locală pentru a transmite stream-ul video către PC-ul tău.</string>
	
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>